.chat-container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
}

.join-room-container,
.send-message-conatiner {
  position: absolute;
  left: 32%;
}

.join-room-container {
  top: 30%;
  left: 38%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 10rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.send-message-conatiner {
  top: 20%;
  display: flex;
  flex-direction: column;
  height: 75rem;
  width: 66%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 2rem;
  border: 1px solid;
}

.room-input {
  font-size: 3rem;
}

.room-select {
  width: 10.5rem;
  border-radius: 5px;
  margin-left: 20px;
  background-color: #d8b3fd;
}

.room-input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.btn-join-room {
  text-transform: uppercase;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s;
  background-color: #9769c5;
}

.btn-join-room:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.btn-join-room:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.scroll {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}

.me,
.other {
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.me {
  align-self: flex-end;
}

.other {
  align-self: flex-start;
  flex-wrap: wrap-reverse;
}

.the-text {
  width: fit-content;
  max-width: 50rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.user-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.other .the-text {
  background-color: cyan;
  order: 2;
}

.other .me {
  background-color: #5c72d4;
}

.other .user-img {
  justify-self: flex-start;
}

.other .writer {
  position: absolute;
  top: -2rem;
  left: 4rem;
  color: #fff;
  font-size: 1.3rem;
}
