.chat-container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  background: linear-gradient(to right, #3d2656, #5c72d4);
}

.join-room-container,
.send-message-conatiner {
  position: absolute;
  left: 32%;
}

.join-room-container {
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.send-message-conatiner {
  top: 20%;
  display: flex;
  flex-direction: column;
  height: 75rem;
  width: 66%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 2rem;
  border: 1px solid;
}

.room-input {
  font-size: 2rem;
}

.room-select {
  width: 8rem;
  border-radius: 5px;
  margin-left: 20px;
  background-color: #d8b3fd;
}

.room-input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.btn-join-room {
  text-transform: uppercase;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s;
  background-color: #9769c5;
}

.btn-join-room:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.btn-join-room:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.scroll {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

.me,
.other {
  width: fit-content;
  max-width: 10rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-radius: 64px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.me {
  background-color: #5c72d4;
  align-self: flex-end;
}

.other {
  background-color: cyan;
  align-self: flex-start;
}
