@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

.forgot-container {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #3d2656, #5c72d4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.forgot-box {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5rem;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  height: auto;
  width: 500px;
  margin-top: 300px;
}

.forgot-input[type="email"] {
  width: 100%;
  padding: 1.1rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(248, 239, 239, 0.8);
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.forgot-input[type="email"]:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
}

.forgot-button {
  padding: 1rem 2rem;
  background-color: #9769c5;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  margin-top: 16px;
}

.forgot-button:hover {
  background-color: #667eea;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.forgot-p {
  font-size: 1.3rem;
  color: #333;
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: underline;
}

.forgot-p:hover {
  color: #aa7bd8;
}