.modal-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
  background-color: rgba(87, 78, 133, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  }
  
  .loading-primary {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  }
  
  .loading-secondry {
  font-size: 1.3rem;
  color: #666;
  }
  
  .loading-btn {
  padding: 1rem 2rem;
  background-color: #805aa6;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  margin-top: 16px;
  }
  
  .loading-btn:hover {
  background-color: #667eea;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }