@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

<<<<<<< HEAD
/* html,
body {
  height: 100%;
  margin: 0;
}
=======
>>>>>>> 0fc85d5ad4a655787c54c395e2c09834bffd4974


.body-login {
  background: linear-gradient(to right, #3d2656, #5c72d4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
} */

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-2-login {
  background-color: rgba(255, 255, 255, 0);
  padding: 5rem;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 450px;
  width: 500px;
  margin: auto;
}

.h1-login {
  font-size: 3rem;
  color: rgb(215, 213, 213);
  margin-bottom: 2rem;
  text-shadow: 1px 1px rgb(203, 161, 161);
}

.input-login[type="email"],
.input-login[type="password"] {
  width: 100%;
  padding: 1.1rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(248, 239, 239, 0.8);
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.input-login[type="email"]:focus,
.input-login[type="password"]:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
}

.button-login {
  padding: 1rem 2rem;
  background-color: #9769c5;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  margin-top: 16px;
}

.button-login:hover {
  background-color: #667eea;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

p {
  font-size: 1.3rem;
  color: rgb(245, 237, 237);
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: underline;
  padding-top: 70px;
}

p:hover {
  color: #aa7bd8;
}
.p-2 {
  margin-top: -1rem;
  padding-right: 270px;
  font-size: 1.3rem;
  color: rgb(245, 237, 237);
}
